@media (max-width: 1180px) {
    .title {
        font-size: 4.75vw;
    }
}

@media (max-width: 860px) {
    .header {
        border-radius: 0px 0px 10px 10px;
        background: #404f59;
        padding: 15px 0px;
    }

    .header__menu-mobile .nav__list {
        font-size: 4.3vw;
    }


    .header__nav-list {
        display: none;
    }

    .header__phone {
        display: none;
    }

    .burger {
        display: block;
    }
}

@media (max-width: 768px) {
    :root {
        --container-width: 93.1%;
    }

    .container {
        padding-right: 0;
        padding-left: 0;
        width: var(--container-width);
    }

    .hero {
        padding-top: 90px;
        border-bottom-width: 30px;
    }

    .hero__conent {
        width: 56.3%;
        padding-top: 47px;
    }

    .title {
        font-size: 31px;
    }

    .hero__img {
        left: 0;
        transform: translate(30px);
    }

    .rent {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .rent__btns-list {
        display: none;
    }

    .rent__select-wrap {
        display: inline-block;
    }

    .control_type_triangle {
        display: none;
    }

    .offers__list {
        margin-right: calc((100vw - 100%) / -2);
    }

    .offer {
        width: 307px;
    }

    .offer__info {
        padding: 33px 30px 30px;
    }

    .services {
        background-color: transparent;
    }

    .services__logo {
        display: none;
    }

    .service {
        display: block;
        min-height: 251px;
    }

    .service__img {
        width: auto;
        justify-content: flex-start;
        background-color: transparent;
        padding: 30px 20px 0;
    }

    .service__content {
        padding: 20px 20px 30px 20px;
    }

    .control_type_disc {
        width: 35px;
        height: 35px;
    }

    .gallery__slider-controls {
        top: calc(50% - 35px / 2);
    }

    .gallery__slider-control-prev {
        left: 0px;
    }

    .gallery__slider-control-next {
        right: 0px;
    }

    .gallery__list {
        column-gap: 14px;
        padding-left: calc((100vw - var(--container-width))/2);
    }

    .gallery__item {
        flex: 0 0 432px;
        height: 285px;
    }

    .slider-indicator {
        flex: 0 1 82px;
    }


}

@media (max-width: 480px) {
    :root {
        --container-width: 91.46%
    }

    .hero {
        padding-top: 115px;
    }

    .hero__container {
        flex-direction: column;
        text-align: center;
    }

    .hero__content {
        margin-bottom: 50px;
        flex-basis: 59%;
        text-align: center;
        padding-top: 0;
        padding-right: 0;
    }

    .title {
        font-size: 36px;
    }

    .header__menu-mobile .nav__list {
        font-size: 16px;
    }


    .address {
        justify-content: center;
    }

    .hero__img-wrap {
        height: 324px;
        width: 100vw;
        border-radius: 0;
        margin-left: calc(-1*(100vw - 100%)/2);
    }

    .hero__img-wrap::after {
        display: none;
    }

    .hero__img {
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .hero__img-wrap::before {
        height: 85%;
        bottom: 0;
        top: auto;
    }

    .hero__btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }

    .hero__btn {
        min-width: 230px;
        padding: 9px 20px 9px 20px;
        color: #FFFFFF;
    }

    .hero__btn:nth-child(2) {
        display: inline-block;
    }

    .control_prev {
        display: none;
    }

    .control_type_triangle {
        display: none;
    }

    .offers__control-next+.control_type_disc {
        display: flex;
    }
}